# Logs
logs
*.log
npm-debug.log*

node_modules
dist
dist-ssr
*.local
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Firebase
.firebase
firebase-debug.log
firestore-debug.log
ui-debug.log
functions/lib
functions/node_modules

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
